.audio-player-wrapper {
    display: flex;
}

.audio-button {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 3px solid antiquewhite;
    border-radius: 50%;
    color: antiquewhite;
    outline: 0;
    background-size: 25px 25px;

    background-repeat: no-repeat;
}

.audio-button-play {
    background-image: url('../../assets/icons/play-button.svg');
    background-position: 14px center;
}

.audio-button-pause {
    background-image: url('../../assets/icons/pause-button.svg');
    background-position: center;
}

.audio-timebar-wrapper {
    margin-left: 20px;
}

.audio-progress {
    width: 600px;
    height: 3px;
    border-radius: 3px;
    background-color: antiquewhite;
    margin: 20px 0;
    cursor: pointer;
}

.audio-progress-timing {
    background-color: #E47209;
    border-radius: 3px;
    width: 0%;
    height: 100%;
    transition: width .1s linear;
}

.audio-timebar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.audio-time-passed,
.audio-time-total {
    display: inline-block;
    color: antiquewhite;
    font-size: 18px;
}

.volume-control-wrapper {
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.volume-control {
    -webkit-appearance: none;
    margin: 0 10px;
    width: 200px;
    height: 4px;
    border-radius: 5px;
    background-color: #E47209;   
    /* background-image: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%); */
    /* background-size: 70% 100%; */
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #E47209;
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
  }
  
  input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #E47209;
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
  }
  
  input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #E47209;
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
  }
  
  /* Input Track */
  input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  
  input[type=range]::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  
  input[type="range"]::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }

.volume-plus,
.volume-minus {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    border-radius: 50%;
}

.volume-plus {
    background-image: url('../../assets/img/volume-plus.jpg');
}

.volume-minus {
    background-image: url('../../assets/img/volume-minus.jpg');
}

@media (max-width: 1299px) {
    .audio-progress {
        width: 480px;
    }
}

@media (max-width: 999px) {
    .audio-timebar-wrapper {
        margin-left: 10px;
    }

    .audio-progress {
        width: 285px;
    }
}

@media (max-width: 639px) {  
    .audio-timebar-wrapper {
        width: 80%;
    }
    .audio-progress {
        width: 100%;
    }
    .volume-control-wrapper {
        width: 240px;
    }
    .volume-control {
        margin: 0;
        width: 160px;
    }
}