.audio-player-wrapper {
    display: flex;
}

.audio-button {
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: 3px solid #E47209;
    border-radius: 50%;
    color: #E47209;
    outline: 0;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.audio-button-play {
    background-image: url('../../assets/icons/play-button-gallery.svg');
    background-position: 7px center;
}

.audio-button-pause {
    background-image: url('../../assets/icons/pause-button-gallery.svg');
    background-position: center;
}

.audio-progress {
    width: 290px;
    height: 3px;
    border-radius: 3px;
    background-color:lightgreen;
    margin: 20px 0;
    margin-bottom: 10px;
    cursor: pointer;
}

.audio-progress-timing {
    background-color: #E47209;
    border-radius: 3px;
    width: 0%;
    height: 100%;
    transition: width .1s linear
}

.audio-timebar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.audio-timebar-wrapper {
    margin-left: 12px;
}

.audio-time-passed,
.audio-time-total {
    display: inline-block;
    color: #E47209;
    font-size: 18px;
}

.volume-control-wrapper {
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.volume-control {
    -webkit-appearance: none;
    width: 200px;
    height: 4px;
    border-radius: 5px;
    background-color: #E47209;
    /* background-image: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%); */
    /* background-size: 70% 100%; */
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #E47209;
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #E47209;
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
}

input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #E47209;
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
}

/* Input Track */
input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

input[type=range]::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

input[type="range"]::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

.volume-plus,
.volume-minus { 
    display: none;
}

@media (max-width: 1299px) {
    .audio-timebar,
    .audio-progress {
        width: 210px;
    }
    .volume-control-wrapper {
        width: 210px;
    }
    .volume-control {
        width: 120px;
    }
}

@media (max-width: 999px) {
    .audio-timebar-wrapper {
        margin-left: 10px;
    }
    .audio-timebar,
    .audio-progress  {
        width: 204px;
    }
}

@media (max-width: 639px) {
    .audio-timebar-wrapper {
        width: 80%;
    }
    .audio-timebar,
    .audio-progress {
        width: 100%;
    }
    .volume-control-wrapper {
        width: 100%;
    }
    .volume-control {
        width: 200px;
    }
}