*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  color: #000;
  font-size: 16px;
  line-height: 130%;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

button {
  border: 1px solid transparent;
  vertical-align: middle;
  cursor: pointer;
}

.hide-element {
  display: none;
}

.main-wrapper {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.header {
  flex-grow: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(113.96deg, #08630d 1.49%, #1da518 101.44%);
}

.logo {
  color: antiquewhite;
  font-size: 26px;
}

.logo:focus,
.logo:hover {
  transition: all 0.3s ease-out;
  color: coral;
}

.header-buttons-wrapper {
  width: 485px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-button {
  min-width: 130px;
  min-height: 40px;
  padding: 0 10px;
  background-color: antiquewhite;
  color: #E47209;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.header-button:focus,
.header-button:hover {
  background-color: #E47209;
  color: antiquewhite; 
  transition: all 0.3s ease-out;
}

@media (max-width: 1299px) {
  .main-wrapper {
      width: 950px;
  }
}

@media (max-width: 999px) {
  .main-wrapper {
      width: 630px;
  }
}

@media (max-width: 639px) {
  .main-wrapper {
      width: 90%;
  }
  .header {
    padding: 20px 10px;
  }
  .header-buttons-wrapper {
    width: 192px;
  }
  .header-button {
    min-width: 70px;
    padding: 0 5px;
    font-size: 17px;
  }
}