.category-item {
    width: calc(1200px / 6);
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 10px;
    background-color: #E47209;
    font-size: 20px;
    text-align: center;
}

.category-item-active {
    background-color: antiquewhite;
    color: #E47209;
    font-weight: bold;
}

.category-item:not(:last-child) {
    border-right: 1px solid antiquewhite;
}

@media (max-width: 1299px) {
    .category-item {
        width: calc(950px / 6);
        padding: 10px 5px;
    }
}

@media (max-width: 999px) {
    .category-item {
        width: calc(950px / 6);       
    }
}

@media (max-width: 639px) {
    .category-item {
        width: calc(100% / 3);
        font-size: 18px;
    }

    .category-item:not(:last-child) {
        border-right: none;
    }

    .category-item:not(:nth-child(3n)) {
        border-right: 1px solid antiquewhite;
    }

    .category-item:not(:nth-child(n+4)) {
        border-bottom: 1px solid antiquewhite;
    }
}